<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.MathFunction">



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FirstProject">
        <activity
            android:name="com.example.MathFunction.Factorial_Activity"
            android:exported="true" />
        <activity
            android:name="com.example.MathFunction.Grade_Activity"
            android:exported="true" />
        <activity
            android:name="com.example.MathFunction.Prime_Number_Activity"
            android:exported="true" />
        <activity
            android:name="com.example.MathFunction.Vote_Eligible_Activity"
            android:exported="true" />
        <activity
            android:name="com.example.MathFunction.Even_Odd_Activity"
            android:exported="true" />
        <activity
            android:name="com.example.MathFunction.Circum_Area_Activity"
            android:exported="true" />
        <activity
            android:name="com.example.MathFunction.Product_number_Activity"
            android:exported="true" />
        <activity
            android:name="com.example.MathFunction.SumNumber_Activity"
            android:exported="true" >


        </activity>
        <activity
            android:name="com.example.MathFunction.Login_Activity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.MathFunction.Register_Activity"
            android:exported="true" />
        <activity
            android:name="com.example.MathFunction.MainActivity"
            android:exported="true">

        </activity>
    </application>

</manifest>